@import "./includes/normalize";

@import "./includes/logo";
@import "./includes/burgerMenu";
@import "./includes/base";
@import "./includes/header";
@import "./includes/main";
@import "./includes/footer";

@import "./includes/fonts";
@import "./includes/media";
