$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-types: (collapse);
$hamburger-layer-color: #FFF;
$hamburger-active-layer-color: #8A72B6;


@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";