/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Montserrat/montserrat-v23-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/Montserrat/montserrat-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Montserrat/montserrat-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Montserrat/montserrat-v23-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Montserrat/montserrat-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Montserrat/montserrat-v23-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

/* playfair-display-900italic - latin */
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/Playfair Display/playfair-display-v28-latin-900italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/Playfair Display/playfair-display-v28-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Playfair Display/playfair-display-v28-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Playfair Display/playfair-display-v28-latin-900italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Playfair Display/playfair-display-v28-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Playfair Display/playfair-display-v28-latin-900italic.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }

/* arvo-regular - latin */
@font-face {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Arvo/arvo-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/Arvo/arvo-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Arvo/arvo-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Arvo/arvo-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Arvo/arvo-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Arvo/arvo-v14-latin-regular.svg#Arvo') format('svg'); /* Legacy iOS */
  }

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Open Sans/open-sans-v28-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/Open Sans/open-sans-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Open Sans/open-sans-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Open Sans/open-sans-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Open Sans/open-sans-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Open Sans/open-sans-v28-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }