.footer {
    background-color: #2C2C2C;
    padding-bottom: 2.35vw;
    
    &__line {
        width: 100%;
        height: 0.5px;
        mix-blend-mode: normal;
        opacity: 0.1;
        border: 1px solid #FFFFFF;
        margin-top: 5.5vw;
    }

    &__under {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7vw;
        margin-top: 5.5vw
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 2.4px;

        color: #FFFFFF;
    }

    @include logo;
}
.map {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    padding-top: 6.1vw;
    gap: 6.1vw;

    &__item {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &__title {
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 2.4px;

        color: #FFFFFF;
        margin-bottom: 17px;
    }
    &__link {
        text-decoration: none;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71em;

        color: #9FA3A7;
    }
    &__icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 60px;
    }
    &__icon {

    }
}