.main {
    margin-top: 5.46875vw;
    margin-left: 6.25vw;
    margin-right: 6.25vw;
    background: #FFFFFF;
    min-height: 200px;

    &__header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
        align-items: center;
    }
    &__shuffle {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1.5625vw;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.25em;
        text-align: center;
        letter-spacing: 2.4px;

        color: #212121;
        margin-bottom: 15px;
    }
    &__title {
        justify-content: center;
        font-family: 'Arvo', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.33em;

        display: flex;
        align-items: center;
        text-align: center;

        color: #212121;
    }
}
.gallery {
    width: 100%;
    margin-top: 5.46875vw;
    margin-bottom: 8.28125vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;

    &__item {
        cursor: pointer;
        background: #F7F8F9;
        border-radius: 8px;
        transition: .4s;
        min-width: 50%;

        &:hover {
            background-color: #FFC80A;
            color: #FFFFFF;
        }
        &.is-active {
            background-color: #292929;
            
            .gallery__title {
                color: #FFFFFF;
            }
        }
    }

    &__img {
        border-radius: 8px 8px 0px 0px;
        width: 100%;
    }

    &__title {
        margin-top: 4.55%;
        margin-left: 25px;
        margin-right: 10px;
        
        font-family: 'Arvo', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.45em;
        color: #212121;
    }

    &__desc {
        margin-top: 6px;
        margin-left: 25px;
        margin-right: 18.3%;

        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.86em;
        color: #9FA3A7;
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 15px 25px 25px 25px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        align-items: flex-end;
        text-align: center;

        color: #9FA3A7;
    }

    &__date {
        display: flex;
        flex-direction: row;
        gap: 9px;
    }
    
    &__views {
        display: flex;
        flex-direction: row;
        gap: 9px;
    }
}